@media only screen and (max-width: 576px) {
	.header {
		padding: 15px calc(0.03 * 100vw) 15px calc(0.03 * 100vw);
	}
	.button-header {
		width: 150px;
	}
	.logo {
		width: 145px;
		height: 50px;
	}
	.button-frame {
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	body {
		background-color: white !important;
	}
}
