html {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

body {
	background-color: #e5e5e5 !important;
}

.header {
	padding: 15px calc(0.08*100vw) 15px calc(0.08*100vw);
}

.logo{
  width:167px;
  height: 50px;
}

.title-header {
	font-weight: bold;
	font-size: 1rem;
	align-self: baseline;
}

.button-header {
	background-color: #ffa049;
	border-radius: 4px;
	color: black;
	font-style: normal;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 23px;
	text-align: center;
	height: 40px;
	width: 180px;
	box-shadow: inset 3px 3px 4px 2px rgba(255, 255, 255, 0.34),
		inset -3px -3px 3px 2px rgba(0, 0, 0, 0.2);
	border: 0px;
	align-self: center;
}

.side-cta {
	width: 100%;
	background-color: #20b7cc;
}

.side-cta-header{
  height: 148px;
  width:100%;
  background-color: #0E899A;
}

.side-cta-footer{
  background-color: rgba(0, 0, 0, 0.2);
  width:85%;
  align-self: center;
}

.img-container{
  border-radius: 4px;
}

.title-article {
	font-weight: bold;
  font-size: 3.2rem;
  letter-spacing: 0.02rem;
  align-self: stretch;
}

.subtitle-article {
  font-size: 2rem;
  letter-spacing: 0.02rem;
}

.avatar {
	width: 40px;
  height: 40px;
  margin-right: 12px;
}

.separator {
	height: 1px;
	width: 100%;
	background-color: #d1d1d1;
}

.font-size-24{
  font-size:2.4rem;
}

.font-size-20{
  font-size: 2rem;
}

.font-size-18 {
	font-size: 1.8rem;
}

.font-size-16 {
	font-size: 1.6rem;
}

.font-underline {
	text-decoration: underline;
}

.text-align-justify{
  text-align: justify;
}

.text-align-center{
  text-align:center;
}

.frame-1 {
	width: 100%;
	background-color: rgba(32, 183, 204, 0.2);
	align-items: center;
	border-width: 0px 0px 0px 3px;
	border-style: solid;
  border-color: #20b7cc;
}

.frame-2{
  background-color: #20B7CC;
  width: 100%;
  height: 362px;
}

.frame-3{
  background-color: #20B7CC;
  width: 100%;
  height: 418px;
}

.frame-4{
  background-color: #F7FDFF;
  width: 100%;
  height: 557px;
}


.image-article{
  width:100%;
  height: 330px;
  object-fit: cover;
}

.footer-article {
  color:#333333;
}

ul {
  padding:0;
	align-self: center;
	list-style-image: url("./assets/list_icon.png");
}

li {
	align-self: center;
}
