html {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

body {
  background-color: #e5e5e5 !important;
  font-family: 'Source Sans Pro';
}

.header {
	padding: 15px calc(0.08 * 100vw) 15px calc(0.08 * 100vw);
}

.logo {
	width: 167px;
	height: 50px;
}

.title-header {
	font-weight: bold;
	font-size: 1rem;
	align-self: baseline;
}

.button-header {
	background-color: #ffa049;
	border-radius: 4px;
	color: black;
	font-style: normal;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 23px;
	text-align: center;
	height: 40px;
	width: 180px;
	box-shadow: inset 3px 3px 4px 2px rgba(255, 255, 255, 0.34),
		inset -3px -3px 3px 2px rgba(0, 0, 0, 0.2);
	border: 0px;
	align-self: center;
}

.side-cta {
	width: 100%;
	background-color: #20b7cc;
}

.side-cta-header {
  /* height: 148px; */
  padding:20px 15px 20px 15px;
	width: 100%;
	background-color: #0e899a;
}

.side-cta-footer {
	background-color: rgba(0, 0, 0, 0.2);
	width: 85%;
  align-self: center;
  vertical-align: middle;
}

.img-container {
  border-radius: 4px;
  width:150px;
}

.title-article {
	font-weight: 900;
	font-size: 3.2rem;
	letter-spacing: 0.02rem;
  align-self: stretch;
  font-family: 'Source Serif Pro';
}

.subtitle-article {
	font-size: 2rem;
  letter-spacing: 0.02rem;
  font-family: 'Source Sans Pro';
}

.avatar {
	width: 40px;
	height: 40px;
	margin-right: 12px;
}

.separator {
	height: 1px;
	width: 100%;
	background-color: #d1d1d1;
}

.font-source-sans-pro {
  font-family: 'Source Sans Pro';
}

.font-source-serif-pro{
  font-family: 'Source Serif Pro';
}

.font-nunito-sans{
  font-family: 'Nunito Sans';
}

.font-size-24 {
	font-size: 2.4rem;
}

.font-size-20 {
	font-size: 2rem;
}

.font-size-18 {
	font-size: 1.8rem;
}

.font-size-16 {
	font-size: 1.6rem;
}

.font-underline {
	text-decoration: underline;
}

.text-align-justify {
	text-align: justify;
}

.text-align-center {
	text-align: center;
}

.frame-1 {
	width: 100%;
	background-color: rgba(32, 183, 204, 0.2);
	align-items: center;
	border-width: 0px 0px 0px 3px;
	border-style: solid;
	border-color: #20b7cc;
}

.button-frame {
  background-color: #ffa049;
	width: 230px;
	height: 46px;
	border-radius: 4px;
	box-shadow: inset 3px 3px 4px 2px rgba(255, 255, 255, 0.34),
		inset -3px -3px 3px 2px rgba(0, 0, 0, 0.2);
}

.frame-2 {
	background-color: #20b7cc;
	width: 100%;
	height: 362px;
}

.frame-3 {
	background-color: #20b7cc;
	width: 100%;
	height: 418px;
}
.frame-4 {
  background-color: #f7fdff;
  position:relative;
	width: 100%;
	/* height: 557px; */
}

.map{
  padding:auto;
}

.figcaption{
  position: absolute;
  bottom:4%;
  width:40%;
  left:15%;
}

.figcaption img{
  align-self:flex-start;
}

.wa {
  left:10%;
  top:20%;
  right:60.1%;
  bottom:24.87%;
  shape-outside: url(./assets/wa.svg);
  width:120px;
  height: 182px;
}

.nt {
  left:37%;
  top:15%;
  right:37.1%;
  bottom:54.87%;
  shape-outside: url(./assets/nt.svg);
}

.qld {
  left:54%;
  top:15%;
  right:0%;
  bottom:42.87%;
}

.sa {
  left:38%;
  top:46.28%;
  right:30.1%;
  bottom:17.87%;
}

.nsw_act {
  left:58%;
  top:55.28%;
  right:0.1%;
  bottom:17.87%;
}

.vic {
  left:57.5%;
  top:66.5%;
  right:12.1%;
  bottom:13.87%;
}

.tas {
  left:62%;
  top:77%;
  right:14.1%;
  bottom:0.87%;
}

.continent {
  position: absolute;
  padding:0;
}


.image-article {
	width: 100%;
	height: 330px;
	object-fit: cover;
}

.footer-article {
	color: #333333;
}

ul {
	padding: 0;
	align-self: center;
	list-style-image: url("./assets/list_icon.png");
}

li {
	align-self: center;
}
