html {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

body {
	background-color: #e5e5e5 !important;
}

.header {
  padding: 15px 120px 15px 120px;
}

.title-header {
	font-weight: bold;
	font-size: 1rem;
	align-self: baseline;
}

.button-header {
	background-color: #ffa049;
	border-radius: 4px;
	color: white;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	height: 40px;
	width: 180px;
	box-shadow: inset 3px 3px 4px 2px rgba(255, 255, 255, 0.34),
		inset -3px -3px 3px 2px rgba(0, 0, 0, 0.2);
  border: 0px;
  align-self: center;
}

.side-cta {
	height: 847px;
	width: 373px;
	background-color: #20b7cc;
}

.title-article{
  font-weight: bold;
  font-size: 3.2rem;
}

.avatar{
  width:40px;
  height: 40px;
}

.font-size-18{
  font-size: 18px;
}

ul{
  list-style-image:url('./list_icon.png');
}
